# GUI Framework
tkinterdnd2
tkcalendar

# Video/Medien Processing
moviepy>=1.0.3
python-vlc
opencv-python

# QR/Barcode Scanner
pyzbar

# Logging
proglog

# Bildverarbeitung
Pillow

# HTTP/Networking
requests
urllib3

# Version Management
packaging

